//-Aquí creamos las variables y los objetos que vayamos a necesitar


//-SEO
-
    const seo = {
        index : ['Restaurante de tapas y paellas Casa Rufino', 'Restaurante español, de cocina casera con paellas mixtas y tapas bar, sangría hecha en casa, pa amb olis, plato del dia y sugerencias del cheff diarias.', 'index, follow',{
        "@context": "https://schema.org",
        "@type": "Restaurant",
        "name": "Casa Rufino",
        "image": "https://www.google.com/maps/uv?pb=!1s0x129792f88c778725%3A0x8ab61eb1957a03dd!3m1!7e115!4shttps%3A%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipN-szF53iE-ahwDY70zOVnJSkgA-aUGVh12dIl6%3Dw255-h144-k-no!5scasarufino%20arenal%20-%20Buscar%20con%20Google!15sCgIgAQ&imagekey=!1e10!2sAF1QipN-szF53iE-ahwDY70zOVnJSkgA-aUGVh12dIl6&hl=es&sa=X&ved=2ahUKEwjVut_ikO7tAhUJTcAKHeboC2QQoiowCnoECBYQAw",
        "@id": "https://www.google.com/maps/uv?pb=!1s0x129792f88c778725%3A0x8ab61eb1957a03dd!3m1!7e115!4shttps%3A%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipN-szF53iE-ahwDY70zOVnJSkgA-aUGVh12dIl6%3Dw255-h144-k-no!5scasarufino%20arenal%20-%20Buscar%20con%20Google!15sCgIgARICEAE&imagekey=!1e10!2sAF1QipOuMNJFf-dPqSP_6WxCIHprZTRHYNmKrNgrgKep&hl=es&sa=X&ved=2ahUKEwjVut_ikO7tAhUJTcAKHeboC2QQoiowCnoECBYQAw",
        "url": "https://www.casarufino.es",
        "telephone": "+34 971743551",
        "priceRange": "25€",
        "menu": "https://www.casarufino.es/nuestra-carta",
        "servesCuisine": "Spain",
        "acceptsReservations": "true",
        "address": {
        "@type": "PostalAddress",
        "streetAddress": "Calle Padre Bartolome Salva n12",
        "addressLocality": "Palma",
        "postalCode": "07600",
        "addressCountry": "ES"
        },
        "geo": {
        "@type": "GeoCoordinates",
        "latitude": 39.50063650000001,
        "longitude": 2.7550795
        },
        "openingHoursSpecification": {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
        ],
        "opens": "11:30",
        "closes": "23:00"
        },
        "sameAs": [
        "https://www.facebook.com/CasaRuffino/",
        "https://www.instagram.com/casa_rufino/",
        "https://www.casarufino.es"
        ] 
        },'Restaurante español en playa de palma, tapas bar, paella mixta, cocina española, sport bar, cafeteria con futbol', 'Casa Rufino', 'Rufi´s Mallorca Bar S.L'
        ],
        galeria : ['Galeria', 'Conjunto de fotos de proyecto...'],
        contactar : ['Contactar', 'Contacta con nosotros...'],
        url : ['htpp://www.casarufino.es']
        }

//-Este objeto contiene la informacion necesaria para cada pagina, entonces luego solo tenemos que llamarlo desde el template