//-conectamos con el css principal
link(rel="stylesheet", href="/css/main.css")
//-App web, indicar al navegador que elementos mostrar en un JSON
link(rel='manifest' href='site.webmanifest')
//-icono de acceso para IOS
link(rel='apple-touch-icon' href='icon.png')
//-google fonts
meta(name='viewport' content='width=device-width, initial-scale=1')
//- Se cambia el tema de algunos navegadores
meta(name='theme-color' content='#fafafa')
