//- ZONA DE VARIABLES
include ../config/config 


//-ZONA MIXIN PICTURES
include ../mixins/mixin_peke
include ../mixins/mixin_pictureBig
include ../mixins/mixin_completo
include ../mixins/mixin_head

<!DOCTYPE html>
html(lang="es")
    //-HEAD
    head
        block head
            include head.pug
    //-BODY    
    body
        //- MAIN SEO - Contenido important